* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    background-color: blue;
    color: aliceblue;
}

.letra-grande {
    font-size: 50px;
}

#caja-3{
    background-color: yellow;
}

.caja {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.oferta {
    background-color: limegreen;
}