*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    background-color: red;
    width: 200px;
    height: 200px;
} */

.box{
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.youtube>h2{
    display: inline-block;
    background-color: brown;
    color: white;
    padding: 20px;
    margin: 20px;
    border: 15px solid black;
}
 
.facebook {
    display: block;
    background-color: blue;
    color: white;
    width: 900px;
}