/* 1. :hover */
a:hover {
    color: red;
    }
    /* 2. :first-child */
    ul>li:first-child {
    font-weight: bold;
    }
    /* 3. :focus */
    input:focus {
    background-color: #f5f5f5;
    }
    /* 4. :checked */
    input[type="checkbox"]:checked+label{
    color: green;
    }
    /* 5. :nth-child(n) */
    tr:nth-child(even) {
    background-color: #f2f2f2;
    }