* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    font-size: xx-large;
}

h1 {
    /** Display -> Controlar la dispocion de los elementos **/
    /* display-> inline y block */
    /* display: inline; */
    background-color: blueviolet;
    color: white;
    text-align: center;
    /* Padding: ; */
    padding-top: 20px; /* Relleno arriba */
    padding-bottom: 30px; /*Relleno abajo  */

    /* Estos 2 no se persiben porque ya esta el center*/
    padding-left: 20px; /*Relleno izquierda  */
    padding-right: 20px; /* Relleno derecha */
    padding: 50px; /* Seteo todas las direcciones */
    padding: 60px 40px; /* Seteo el primer valor en el eje "y", el segundo en "x"*/
    padding: 10px 20px 30px 40px; /* Setea las direcciones siguiendo la direccion en sentido horario */

}

h1 {
    padding: 20px 40px;
}

aside {
    background-color: blue;
    color: white;
}

a {
    display: block;
    background-color: green;
    color: white;
}